datetime
difflib
docx
docx2txt
dotenv
pymupdf
flask
google
json
mailslurp_client
openai
os
pandas
pdfplumber
pymongo
pyngrok
pyrebase
pyrebase4
random
re
requests
sklearn
spacy
sqlite3
streamlit
sendgrid
subprocess
textstat
time
ngrok
streamlit -q
jsonify
TfidfVectorizer
cosine_similarity
mailslurp-client
dotenv

